.divGrid {
  color: white;
  border: 1px solid black;
  justify-content: space-around;
  padding:0px;
  margin:0px;
}

.divGrid:hover {
  background-color: black;
}

.container {
  background-color: lightgray;
  width: 600px;
  height: 600px;
  
  display: flex;
 
  flex-wrap: wrap;

  overflow: hidden;
  
}