#controls {

}

#sizeChoice {
  width: 45px;
}

.divGrid {
  color: white;
  border: 1px solid black;
  padding:0px;
  margin:0px;
}

.divGrid:hover {
  --userColor: #EFC30F;
  background-color: --userColor;

}

.container {
  --gridSize: 16;
  background-color: lightgray;
  width: 600px;
  height: 600px;
  
  display: grid;
  grid-gap: 1px;
  
  grid-template-columns: repeat(var(--gridSize), 1fr);
  grid-template-rows: repeat(var(--gridSize), 1fr);

} 

.gridButton {
  padding: 10px;
  margin: 15px 30px 20px 30px;
}

.gridButton:hover {
  color: red;
}

